.footer {
  width: auto;
  max-width: auto;

  &__for-1600 {
    // padding-right: 140px;
    margin: 0;
  }

  &__main-section {
    width: 100%;
    max-width: 1570px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  &__text {
    max-width: 383px;
  }
}
