.categories {
    

    &__bg{
width: 288.1%;
height: 696.82px;
top: -129px;
left: -756px;

    }
 
   

&__intro {
    @include red-stripes (182px, 37px, -60px, -60px);
    font-family: $baseFontFamily;
    width: 212px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;


}

&__title {
    
    font-size: 60px;
    line-height: 82px;
    margin: 18px 130px auto;
}

&__description {
    font-family: $baseFontFamily;
    font-size: 16px;
    margin: 8px auto 76px;
    width: 557px;

}

&__list {
   
 

   

    &__item {
       
        &__img {
                  
        }

        &__title {
            
        }

        &__number {
            
       }

        
       
    }
}

&__stripes {
    margin: 89px auto 0;
    text-align: center;
    padding-bottom: 76px;

   
}
}