.items {

&__intro {
    @include red-stripes (142px, 37px, -60px, -60px);
    width: 212px;
    font-family: $baseFontFamily;
    line-height: 15px;
}

&__title {
    font-size: 60px;
    line-height: 82px;
    margin: 18px auto 8px;
}

&__description {
font-family: $baseFontFamily;
font-size: 16px;
line-height: 26px;
width: 557px;
max-width: 557px;
margin: 0 auto 92px;
}

&__list {
    // flex-wrap: wrap;
    width: 740px;
    max-width: 740px;
    margin-left: 14px;
    margin-right: auto;

justify-content: space-between;    
    

    &__item {
        
        
        width: 360px;


        &__img {
           margin-bottom: 33px;
           width: 360px;

        }

        &__title {
            margin: 0 auto 5px 32px;}
            

        &__description {
            margin: 0 auto 17px 33px;
        }

        &__price {
           
            margin: 0 auto 6px 33px;
            
            

          
        }

       

        &__person {
            
            margin: 0px auto 13px 59px;

            
        }

        &__adress {

            margin: 0 auto 41px 59px;
        }
    }

}



&__star-reviews {
    display: flex;
    width: 360px;
    align-items: center;
    margin: 0 auto 25px 35px;
   
}

&__person-adress {
    width: 360px;
  

}

&__button {
   
    padding: 18.5px 44px;  
    margin-bottom: 137px;
}
}

.categories__stripes_items {
    margin-top: 39px;
    padding-bottom: 0;
    margin-bottom: 63px;
  
}