.nav-container {
    display: flex;
    align-items: center;
   

    &__logo{
       display: block;
       flex-basis: 20%;
&__img{
       
    }}

    &__nav{
        display: block;
        list-style-type: none;
        padding-inline-start: 0;
        display: flex;
        justify-content: center;
        flex-basis: 60%;
        &__item{
          margin-right: 50px;  
          font-family: $mainFontFamily;
          text-transform: uppercase;
          font-style: 14px;
          font-weight: 700;
          color: $dark-grey;
          letter-spacing: 0;
          position: relative;

          &__point {
            fill: $dark-grey;
            position: absolute;
            top: 6px;
            right: -10px;
          }

     
          &:hover{
            color: $main;
            cursor: pointer;    
            
           & .point{
                fill: $main; 
            }
          } 
             
         
        }
        
    }

    &__btn{
        display: block;
        flex-basis: 20%;
    }

    &__menu{
        display: none;

    }
  
}


