.signup {
  background-image: url(../../../i/img/sign-bg-1200.png);
  padding: 130px 15px 79px 15px;
  position: relative;
  animation: dragon 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  &__title {
    font-size: 54px;
  }

  &__input-container {
    width: 521px;
  }

  &__img {
    display: block;
    position: absolute;
    &_dragon {
      width: 172px;
      top: -97px;
      left: -73px;

      transform: translateY(-30px);
      // animation-name: dragon;
      // animation-duration: 3s;
      // animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      // animation-iteration-count: infinite;
    }
    &_cloud {
      width: 214px;
      bottom: 15px;
      left: -65px;
    }
    &_star {
      width: 27px;
      top: 266px;
      right: -75px;
    }
  }
}
