.signup {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../../i/img/sign-bg-1200.png);
  padding: 130px 15px 79px 15px;
  position: relative;
  &__title {
    font-size: 54px;
  }

  &__input-container {
    width: 521px;
  }

  &__img {
    display: block;
    position: absolute;
    &_dragon {
      width: 172px;
      top: -97px;
      left: -73px;
      animation: dragon 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
      animation-direction: alternate;
      @keyframes dragon {
        from {
          top: -97px;
        }
        to {
          top: -67px;
        }
      }
    }
    &_cloud {
      width: 214px;
      bottom: 15px;
      left: -65px;
    }
    &_star {
      width: 27px;
      top: 266px;
      right: -75px;

      animation: spinning 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
      @keyframes spinning {
        35% {
          rotate: 360deg;
        }
        70% {
          rotate: 0deg;
        }
        100% {
        }
      }
    }
  }
}
