.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &__container-1200 {
    flex-basis: 570px;
  }
  &__slider-container {
    flex-basis: 48%;
    justify-content: end;
  }
  &__title {
    font-size: 64px;
  }
  &__intro,
  &__title,
  &__description {
    text-align: left;
  }

  &__button-and-phone {
    justify-content: start;
  }

  &__slider {
    width: 100%;
    margin-bottom: auto;
    margin-top: 100px;
  }
}
