.about {
   
   

&__bg-pics {
    display: block;
    width: 668px;
    position: absolute;
    // left: 50.78%;
    right: 277px;
    top: 113px;

    // &_1 {
    //     width: 268px;
    //     height: 221px;
    //     position: absolute;
    //     left: 1148px;
    //     top: 113px;
    //     display: block;
    // }
    // &_2 {
    //     width: 263;
    //     height: 256px;
    //     position: absolute;
    //     left: 975px;
    //     top: 331px;
    //     display: block;
    // }
    // &_3{
    //     width: 287;
    //     height: 308px;
    //     position: absolute;
    //     left: 1264px;
    //     top: 358px;
    //     display: block;
    // }
}

}