//FONTS
$google-font: "https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;400&family=Nunito:wght@600;700;800&family=Quicksand:wght@400;600;700&display=swap";

@font-face {
    font-family: "QuicksandBook";  
    src: url("../../fonts/QuicksandBook-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

     @font-face {
        font-family: "FontAwesome";  
        src: url("../../fonts/FontAwesome\ Regular.otf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
         }

     @font-face {
        font-family: "MyriadArabicRegular";  
        src: url("../../fonts/Myriad\ Arabic\ Regular.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
         }

$baseFontFamily: "QuicksandBook", sans-serif;
$titleFontFamily: "Nunito", sans-serif;
$descriptionFontFamily: "Lato", sans-serif;
$baseFontFamilyOriginal: "Quicksand", sans-serif;
$priceFont: "MyriadArabicRegular", sans-serif;



// $prefix: prefix- !default;
// $baseFontSize: 16px;
// $baseFontFamily: "Ubuntu", sans-serif;
// $mediumFontWeight: 500;

// $mobilePadding: 12px;
// $desktopPadding: 1rem;

// // Paths

// $i: "../../../i/";
// $fontsPath: "../fonts/";

// // COLORS
$black: #222222;
$bottom: #2B5AE1;
$white: #ffffff;
$borderColor: rgba(34, 34, 34, 0.1);
$buttonColor: #E63A28;
$light-pink: #FAEEEE;
$light-green: #E5F7E5;
$light-blue: #EAF8F9;
$beige: #FFFDF5;
$itemsGrey: #777777;
$itemsStripe: #DDDDDD;
$blueBg: rgba(245, 247, 250, 1);
$aboutBlueBg: rgba(241, 253, 251, 1);
$footerBlueBg: #EEF3FA;








// $redColor: #9c2323;
// $mainColor: #7e7e7e;
// $blackColor: #2d2d2d;
// $bgColor: #f2f2f2;
// $navColor: #cbcbcb;
// $darkGray: #696969;
// $loganColor: #a9a9a9;
// $blockBgcolor: #ededed;

// $colors: (
//   "black": $black,
//   "white": $white,
//   "mainColor": $mainColor,
//   "blackColor": $blackColor,
//   "bgColor": $bgColor,
//   "navColor": $navColor,
//   "redColor": $redColor,
// ) !default;
