//FONTS
$google-font: "https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;400&family=Nunito:wght@600;700&family=Quicksand:wght@400;600;700&display=swap";

$baseFontFamily: "Quicksand", sans-serif;

// $prefix: prefix- !default;
// $baseFontSize: 16px;
// $baseFontFamily: "Ubuntu", sans-serif;
// $mediumFontWeight: 500;

// $mobilePadding: 12px;
// $desktopPadding: 1rem;

// // Paths

// $i: "../../../i/";
// $fontsPath: "../fonts/";

// // COLORS
$black: #222222;
$bottom: #2B5AE1;
$white: #ffffff;
// $redColor: #9c2323;
// $mainColor: #7e7e7e;
// $blackColor: #2d2d2d;
// $bgColor: #f2f2f2;
// $navColor: #cbcbcb;
// $darkGray: #696969;
// $loganColor: #a9a9a9;
// $blockBgcolor: #ededed;

// $colors: (
//   "black": $black,
//   "white": $white,
//   "mainColor": $mainColor,
//   "blackColor": $blackColor,
//   "bgColor": $bgColor,
//   "navColor": $navColor,
//   "redColor": $redColor,
// ) !default;
