//-----------------------------FONTS-----------------------------
$google-font: "https://fonts.googleapis.com/css2?family=Capriola&family=Love+Ya+Like+A+Sister&family=Source+Sans+Pro:wght@400;600&display=swap";


$mainFontFamily: "Source Sans Pro", sans-serif;
$titleFontFamily: "Capriola", sans-serif;
$descriptionFontFamily: "Love Ya Like A Sister", cursive;

// -----------------------------COLORS-----------------------------
$main: #F39F5F;
$dark-grey: #385469;
$blue: #cfe1e4;
$grey: #385469B2;
$white: #FFFFFF;
$dark-blue: #70A6B1;

