.actions {

    &__description {
        width: 72.5%;
        margin-left: auto;
        margin-right: auto;}

&__list {
        width: 72.1%;
        margin-left: 90px;



        &__item {
            

            &__description {
                width: 80%;
            }
                    }


        }
    }
