.apps {


&__title {
    margin-left: 4.1%;
    width: 90%;
    max-width: 500px;
}


&__text-section {

   


&__text {
    margin-left: 4.1%;
    width: 80%;

}

&__bg-pics {
width: 700px;
left: auto;
right: -135px;
top: 75px;

}}



&__icon-section {
    position: relative;




&__playstore-min {

left: 50px;


}

&__appstore-min {
    
    left: 120px;
    
    }

    &__playstore {
        display: none;
        
        }

        &__appstore {
            display: none;
            
            }

}
}

