.title {
  width: 82%;

  &__title {
    font-size: 70px;
  }

  &__container-1200 {
    flex-basis: 585px;
  }
}

// .container {
//   max-width: 80%;
//   margin-left: auto;
//   margin-right: auto;
// }

// .slider__img {
//   max-width: 100%;
//   width: 100%;
//   vertical-align: top;
// }
