.actions {

&__intro {
    @include red-stripes (48px, 33px, -43px, -43px);

}

&__title {
font-family: $titleFontFamily;
    font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: -0.025em;
margin-top: 22px;
}

&__description {
    width: 85.9%;
    margin-left: auto;
    margin-right: auto;
    // width: 275px;


    
    font-family: $descriptionFontFamily;
    font-weight: 400;
font-size: 14px;
line-height: 26px;
text-align: center;
letter-spacing: -0.025em;
margin-right: auto;
margin-left: auto;
padding-bottom: 15px;
}

&__list {
    padding-inline-start: 0px;
// ПРАВКИ
        // width: 231px;
        width: 72.1%;
        margin-left: 50px;
        margin-right: auto;
    

    &__item {
        list-style: none;



        &__title {
            font-family: $titleFontFamily;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: -0.025em;
            // width: 197px;
            // margin-left: 48px;
            margin-top: 123px;
            z-index: 1000;
            position: relative;


            &_1 {
                margin-top: 108px;
                position: relative;
                &::before {
                    content: "";
                    background: url(../../../i/optim/actions_item1.svg) no-repeat;
                    background-size: 77px 58px;  
                    position: absolute;  
                    top: -77px;
                    z-index: 1;
                    width: 77px;
                    height: 58px;
                    
                    
                } 
            }

            &_2 {
                position: relative;
                &::before {
                    content: "";
                    background: url(../../../i/optim/actions_item2.svg) no-repeat;
                    background-size: 54px 57px;  
                    position: absolute;  
                    top: -77px;
                    z-index: 1;
                    width: 54px;
                    height: 57px;
            }}

            &_3 {
                position: relative;
                &::before {
                    content: "";
                    background: url(../../../i/optim/actions_item3.svg) no-repeat;
                    background-size: 65px 56px;  
                    position: absolute;  
                    top: -77px;
                    z-index: 1;
                    width: 65px;
                    height: 56px;
            }
        }
    }
        &__description {
            font-family: $descriptionFontFamily;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: -0.025em;
            // margin-right: 39px;
            // width: 210px;
            // margin-left: 48px;
            margin-top: 21px;
            position: relative;

            &_1 {
                position: relative;

                &::before {
                    content: "";
                    background: $light-pink;
                    width: 78px;
                    height: 78px;  
                    border-radius: 22px;
                    position: absolute;  
                    left: -28px;
                    top: -81px;
                    z-index: -1;
                    
                } 

                &::after {
                    content: "";
                    background: url(../../../i/optim/violet-arrow.svg) no-repeat;
                    background-size: 125px 29px;  
                    position: absolute;  
                    top:108px;
                    right: -8px;
                    z-index: 1;
                    width: 125px;
                    height: 29px;
                    transform: rotate(94.95deg);
                }

            }

            &_2 {
                position: relative;

                &::before {
                    content: "";
                    background: $light-green;
                    width: 78px;
                    height: 78px;  
                    border-radius: 22px;
                    position: absolute;  
                    left: -28px;
                    top: -81px;
                    z-index: -1;
                    
                } 
                &::after {
                    content: "";
                    background: url(../../../i/optim/violet-arrow.svg) no-repeat;
                    background-size: 125px 29px;  
                    position: absolute;  
                    top:103px;
                    right: -21px;
                    z-index: 1;
                    width: 125px;
                    height: 29px;
                    transform: rotate(90deg);
                }
            }
            
            &_3 {
                padding-bottom: 46px;
                position: relative;

                &::before {
                    content: "";
                    background: $light-blue;
                    width: 78px;
                    height: 78px;  
                    border-radius: 22px;
                    position: absolute;  
                    left: -28px;
                    top: -81px;
                    z-index: -1;
                    
                } 
            }


        }
    }
}
    }
