.apps {
background-image: url(../../../i/img/apps_bg.jpg);
background-size: 2124px 692px;
background-position-x: -756px;
margin-top: 52px;
padding-bottom: 97.45px;

&__title {
    font-family: $titleFontFamily;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.025em;
    color: $white;
    width: 292px;
    margin: 0 auto 29px 13px;
    padding-top: 25px;
}


&__text-section {

    position: relative;
    height: 394px;
    overflow:hidden;


&__text {
    font-family: $descriptionFontFamily;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.025em;
    color: $white;
    width: 270px;
    margin: 0 auto 0 13px;
}

&__bg-pics {
width: 394px;
position: absolute;
left: -34px;
top: 129.75px;

}}



&__icon-section {
    position: relative;




&__playstore-min {
width: 42px;
height: 42px;
position: absolute;
top: 29px;
left: 83px;


}

&__appstore-min {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 29px;
    left: 170px;
    
    }

    &__playstore {
        display: none;
        
        }

        &__appstore {
            display: none;
            
            }

}
}

