.categories {
    position: relative;
    background-color: $beige;

    &__bg{
width: 1067px;
height: 336px;
position: absolute;
top: -71px;
left: -367px;
z-index: -1;

    }
 
   

&__intro {
    @include red-stripes (56px, 37px, -57px, -57px);
    width: 182px;
    font-weight: 300;
    line-height: 19px;
    font-family: $descriptionFontFamily;


}

&__title {
    font-family: $titleFontFamily;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.025em;
    display: block;
    margin: 21px 74px auto;
}

&__description {
    font-family: $descriptionFontFamily;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.025em;
    margin: 31px 32px 63px;
    position: relative;

}

&__list {
   
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;

   

    &__item {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: $white;
        box-shadow: 0px 0px 25px rgba(43, 15, 64, 0.08);
        border-radius: 10px;
        margin: 0 15px 0;
        width: 250px;
        height: 290px;
        &__img {
            margin: 66px auto 48px;        
        }

        &__title {
            width: 164px;
            text-align: center;
            margin-left: 43px;
            margin-right: 43px;
        }

        &__number {
            margin: 11px auto 47px;
       }

        
       
    }
}

&__stripes {
    margin: 49px auto 50px;
    text-align: center;

    &__red {
        margin-right: 15px;
    }
}
}