
      .footer {
        width: 100%;
        background-color: $footerBlueBg;
        padding-top: 36px;
        padding-bottom: 13px;

        // <!-- LOGO -->
&__logo {
position: relative;
         margin: 0px auto 32px 36px;


  &__img {
    width: 54px;
  }

  &__link {
        text-decoration: none;
  }

  &__name {
    font-family: $titleFontFamily;
    font-weight: 800;
font-size: 36px;
line-height: 49px;
letter-spacing: -0.025em;
color: $black;
position: absolute;
left: 68px;
top: -6px;

width: 119px;
  }

  &__text {
    font-weight: 400;
font-size: 14px;
line-height: 13px;
letter-spacing: 0.01em;
position: absolute;
left: 69px;
top: 41px;

width: 119px;
  }
}


// <!-- MAIN TEXT -->

&__main-text {
  font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: -0.025em;
margin-bottom: 19px;

width: 281px;
margin-left: 36px;

&__text {
  margin-bottom: 19px;
}

&__email-tel {
  font-family: $priceFont;
  font-weight: 400;
font-size: 22px;
line-height: 26px;
letter-spacing: -0.025em;

&__link {
  font-family: $baseFontFamily;
  font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: -0.025em;
text-decoration: none;
color: $black;
}
}}

// <!-- AMEDA HILSON-->
      
&__ameda {
display: none;}


// <!-- OTHER LINKS -->


&__other {
  display: none;
}



// <!-- JOIN OUR COMMUNITY -->

&__join {
  margin: 51px auto 0px 36px;

  &__title {
font-family: $baseFontFamilyOriginal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.025em;
margin-bottom: 19px;}

&__text {
  font-weight: 400;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.025em;
margin-bottom: 43px;

}

  
}


// <!-- APPS -->


&__apps {
  position: relative;
  padding-bottom: 93px;

  &__playstore, &__appstore {
    display: none;
  }

  &__appstore-min {
    position: absolute;
    left: 54px;
    top: 0;
  }

  &__playstore-min {
    position: absolute;
    left: 141px;
    top: 0;
  }
}


// <!-- CONNECT SOCIALLY -->

&__connect {
  margin: 0px auto 0px 37px;

  &__title {
    font-family: $titleFontFamily;
    font-weight: 600;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.025em;

margin-bottom: 22px;
  }

  &__list {
    list-style: none;
    padding-inline-start: 0px;

    display: flex;
    width: 252px;
    justify-content: space-between;
    margin-bottom: 37px;

    &__svg {
      --iconBg: #FFFFFF;
      --iconMain: #5F8AD4;

          &:active {
            --iconBg: #E63A28;
          --iconMain: #FFFFFF;}
    }

  }

}

//  <!-- COPYRIGHT -->

&__copyright {
width: 100%;
border-top: 1px solid $itemsStripe;

&__text {
  margin: 14px auto 0px 49px;
  width: 202px;
  font-family: $descriptionFontFamily;
  font-weight: 300;
font-size: 14px;
line-height: 24px;
text-align: center;
}
}
}