.items {

&__intro {
    @include red-stripes (61px, 37px, -55px, -55px);
    width: 184px;
    font-family: $descriptionFontFamily;
    line-height: 19px;
}

&__title {
font-family: $titleFontFamily;
font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: -0.025em;
margin-top: 28px;
width: 74.7%;
margin: 28px auto 38px;
}

&__description {
font-family: $descriptionFontFamily;
font-weight: 400;
font-size: 14px;
line-height: 26px;
text-align: center;
letter-spacing: -0.025em;
width: 87.8%;
margin: 0 auto 57px;
}

&__list {
    display: flex;
    flex-wrap: no-wrap;
    list-style: none;
    max-width: 1140px;
    padding-inline-start: 0px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    

    &__item {
        
        background-color: $blueBg;
        border-radius: 10px;
        width: 300px;
        margin-right: 20px;
     

        &__img {
           margin-bottom: 33px;
           width: 300px;
        }

        &__title {
            margin: 0 auto 5px 13px;
            font-family: $titleFontFamily;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            letter-spacing: -0.025em;
        }

        &__description {
            font-family: $baseFontFamily;
            font-weight: 400;
            font-size: 14px;
            line-height: 13px;
            letter-spacing: -0.025em;
            margin: 0 auto 17px 14px;
        }

        &__price {
            font-weight: 400;
            font-size: 18px;
            line-height: 17px;
            letter-spacing: -0.025em;
            margin: 0 auto 6px 14px;
            font-family: $baseFontFamily;
            

            &_red {
                font-family: $priceFont;
                font-size: 24px;
                line-height: 27px;
                color: $buttonColor;
                font-weight: 800;


            }
        }

        &__reviews {
            font-weight: 400;
            font-size: 12px;
            line-height: 11px;
            letter-spacing: -0.025em;
            color: $itemsGrey;
            margin-left: 3px;

            

        }

        &__person {
            font-family: $baseFontFamilyOriginal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.025em;
            margin: 0px auto 13px 30px;
            position: relative;
            padding-top: 25px;

            &::before {
                content: "";
                background: url(../../../i/optim/items_icon-man.svg) no-repeat;
                background-size: 16px 18px;
                width: 16px;
                height: 18px;
                position: absolute;
                left: -24px;
                

                

            
            }
        }

        &__adress {

            font-weight: 400;
            font-size: 14px;
            line-height: 13px;
            letter-spacing: -0.025em;
            margin: 0 auto 41px 30px;
            position: relative;

        &::before {
                content: "";
                background: url(../../../i/optim/items_icon-geo.svg) no-repeat;
                background-size: 16px 18px;
                width: 16px;
                height: 18px;
                position: absolute;
                left: -24px;
                top: -2px;

}


        }
    }

}

&__stars {
    display: flex;
    width: 81px;
    justify-content: space-between;
}

&__star-reviews {
    display: flex;
    width: 280px;
    align-items: center;
    margin: 0 auto 25px 16px;
   
}

&__person-adress {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $itemsStripe;

}

&__button {
    color: $white;
    text-transform: uppercase;
    background-color: $buttonColor;
    padding: 19.5px 41.5px;  
    border-radius: 30px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 89px;
    font-family: $baseFontFamilyOriginal;
    font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: -0.025em;
cursor: pointer;
}
}

.categories__stripes_items {
    margin-top: 23px;
    padding-bottom: 0;
    margin-bottom: 45px;
  
}