.nav {
  position: sticky;
  top: 0;
  z-index: 1500;
  background-color: $white;
}
.nav-container {
  padding: 25px 15px 17px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &__logo {
    display: flex;
    justify-content: center;
    &__img {
      width: 143px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__nav {
    display: none;
  }

  &__btn-section__btn {
    display: none;
  }

  &__menu {
    position: absolute;
    right: 15px;
    top: 27px;

    fill: $dark-grey;
  }
}

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

// OPENED NAV

.nav {
  &__hidden-block {
    width: 250px;
    padding: 6px 0px 8px;
    border-radius: 30px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
    background-color: $white;
  }

  &__hidden-list {
    list-style-type: none;
    padding-inline-start: 0;

    &__item {
      padding: 4px 16px 6px 16px;
      margin: 0 10px;
      color: $dark-grey;
      cursor: pointer;
      &_arrow {
        padding-left: 7px;
      }
      &:hover {
        background-color: $main;
        color: $white;
        border-radius: 30px;
      }
    }
  }
}
