.banner {
 


// POPULAR-SEARCHES

&__items {
   

&_icon {
  

&:hover {
    background: none;
}

}

&__li1{


&:hover 
     {
        background: url(../../../i/optim/banner_icon1_hov.svg) no-repeat;
        background-size:50px 50px;

        & .banner__items__li1__black-search {
            @include black-search (-14px, visible);}
    }

    
}

&__li2{
   

&:hover 
     {
        background: url(../../../i/optim/banner_icon2_hov.svg) no-repeat;
        background-size:50px 50px;
        background-position-x: 9px;
        
        & .banner__items__li2__black-search {
            @include black-search (-5px, visible);
            }
}}

&__li3 {
   
    &:hover 
     {
        background: url(../../../i/optim/banner_icon3_hov.svg) no-repeat;
        background-size:50px 50px;
        & .banner__items__li3__black-search {
            @include black-search (-14px, visible);}
}


}
}




}