
      .footer {
       


// <!-- CONNECT SOCIALLY -->

&__connect {
  margin: 73px 0 0px 74px;



  &__list {
    

    &__svg {
      

          &:hover {
            --iconBg: #E63A28;
          --iconMain: #FFFFFF;}

          
    }

  }

}

&__logo {
  margin-left: 0;
  }

  &__main-text {
    margin-left: 0px;
    }

    &__join {
      margin-left: 0px;
    }


.footer-in {
  width: 645px;
  margin-left: auto;
  margin-right: auto;
}


}

