.apps {


&__title {
    margin-left: 4.1%;
    width: 90%;
}


&__text-section {

   


&__text {
    margin-left: 4.1%;
    width: 80%;

}

&__bg-pics {
width: 123%;
left: -10%;
top: 25%;

}}



&__icon-section {
    position: relative;




&__playstore-min {

left: 10%;


}

&__appstore-min {
    
    left: 25%;
    
    }

    &__playstore {
        display: none;
        
        }

        &__appstore {
            display: none;
            
            }

}
}

