.header {
  
    margin-left: 49px;
    margin-right: 64px;
    margin-top: 50px;



&__logo {
    &__img {
    width: 54px;
    height: 54px;
    margin-right: 14px;
    
  }

  &__title {
    font-size: 36px;
    line-height: 49px;
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        letter-spacing: 0.01em;
     
      }

      &__text {
        margin-top: -8px;
      }

}

}