.actions {

&__intro {
   
   


&::before {

}

&::after {
    
   
   
    }
}

&__title {
    
    margin-top: 18px;
}

&__description {

}

&__list {
    flex-wrap: nowrap;
    width: 58.3%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;


    &__item {
        // flex-basis: 14.84%;
        margin-left: 0px;
        margin-right: 0px;

        &_2 {
            margin-left: 132px;
        margin-right: 132px;
        }

        &__title {
          

            &_1 {
                margin-top: 155px; 
                }

            &_2 {
                margin-top: 155px; 

                }

            &_3 {
                margin-top: 155px; 
   
        }
    }
        &__description {
            
            

            &_1 {

              

                &::after {
                     
                    top:104px;
                    right: -111px;
                    
                }

            }

            &_2 {
                
                &::after {
                    background: url(../../../i/optim/violet-arrow_hr-middle.svg) no-repeat;
                    background-size: 125px 25px;  
                    width: 125px;
                    height: 25px;
                    top:105px;
                    right: -118px;
                    transform: rotate(0deg);
                }
            }
            
           

        }
    }
}
    }
