.apps {
background-size: 1920px 626px;
background-position-x: 0px;
overflow: hidden;



&__title {
    
    margin: 0 auto 2px 296px;
    padding-top: 123px;
}


&__text-section {

    position: relative;
    height: 337px;
    overflow: visible;


&__text {

    width: 640px;
    margin: 0 auto 0 300px;
}

&__bg-pics {

left: 874px;
top: -172px;

}}



&__icon-section {
    position: relative;
    



&__playstore-min {
display: none;


}

&__appstore-min {
   display: none;
    
    }

    &__playstore {
        position: absolute;
        top: -219px;
        left: 547px;

        
        
        }

        &__appstore {
            // position: absolute;
            top: -219px;
            left: 302px;

        
            
            }

}
}

