.categories {
    margin-top: 203px;
    padding-top: 99px;
    

    &__bg{
width: 2213.16px;
height: 696.82px;
top: -30px;
left: -147px;

    }
 
   

&__intro {
   margin-top: 0;

}

&__title {
    margin-top: 0;
}

&__description {
    margin: 8px auto 61px;

}

&__list {
    width: 1650px;
    margin-left: auto;
    margin-right: auto;
   
 

   

    &__item {
       
        &__img {
                  
        }

        &__title {
            
        }

        &__number {
            
       }

      &_1 {
        margin-left: 0;
      }

      &_6 {
        margin-right: 0;
      }

        
       
    }
}

&__stripes {
    margin: 70px auto 0;
    text-align: center;
    padding-bottom: 110px;

   
}
}