
      .footer {
       
        padding-top: 42px;
        padding-bottom: 22px;

        display: flex;
        flex-wrap: wrap;

        // <!-- LOGO -->
&__logo {
position: relative;
         margin: 0px auto 25px 74px;
}


// <!-- MAIN TEXT -->

&__main-text {


margin-left: 74px;

}



// <!-- AMEDA HILSON--> - display: none
      



// <!-- OTHER LINKS -->


&__other {
  display: block;
  margin-left: 112px;

  &__title {
font-family: $baseFontFamilyOriginal;
    font-weight: 600;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.025em;
margin-bottom: 19px;
  }

  &__list {
    list-style: none;
    font-weight: 400;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.025em;
padding-inline-start: 0;
}

}



// <!-- JOIN OUR COMMUNITY -->

&__join {
  margin: 73px 0 0 74px;



&__text {

margin-bottom: 13px;

}

  
}


// <!-- APPS -->


&__apps {
  position: relative;
  padding-bottom: 51px;

  width: 319px;
  display: flex;
  justify-content: space-between;

  &__playstore, &__appstore {
    display: block;

  }

  &__appstore-min, &__playstore-min {
    display: none;
  }
}


// <!-- CONNECT SOCIALLY -->

&__connect {
  margin: 73px auto 0px 74px;

  

  &__list {
    
    margin-bottom: 97px;

   

  }

}

//  <!-- COPYRIGHT -->

&__copyright {
width: 100%;
border-top: 1px solid $itemsStripe;

&__text {
  margin: 22px auto 0;
  width: 396px;
  font-family: $baseFontFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.025em;

}
}

// FOR DISPLAY: FLEX

&__logo-main-text {
  display: flex;
  flex-direction: column;
}
}