.footer {
  width: 100%;
display: flex;
justify-content: center;

    

    &__logo {
        
     
        &__img {
         
          margin-top: 0px;
        }
      
        &__text {
          
margin-top: 0px;

&__title {
  margin-top: 0;
}
        }
      
      }

     
&__contacts {
  width: 214px;
}
    


      &__section-with-logo {
        margin-left: 0px;
width: 281px;
margin-right: 82px;

      }

  &__section {

    &__1 {
      display: block;
      width: 157px;
      

      &__title {
        font-family: $baseFontFamilyOriginal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.025em;
        margin-bottom: 19px;
      }

      &__list {
        list-style: none;
        padding-inline-start: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 34px;
        letter-spacing: -0.025em;



      }
    }

    &__2 {
      width: 141px;
      margin: 0 0 auto 0;

      &__list {
width: 141px;      }

&__title {
  width: 141px;
}

    }

    &__3 {
      margin: 0 auto 0px 0px;
      width: 319px;

      
      &__text {
        margin-bottom: 15px;
      }
    }



    &__4 {
      margin: 0 auto 0px 0px;
      width: 252px;

    }

    &__for-1920px{
      margin: 106px 0 0;
     
      display: flex;
      width: 100%;
      justify-content: center;
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

      &__1 {
        width: 363px;
        
      }

      &__2{
        width: 209px;

      }
      &__3{
        width: 240px;
        margin-right: 0;

      }
      &__4{
        width: 319px;

      }

    }
  }

  &__icon-section {
    margin: 0 auto 30px 0px;

  
  }


  &__copyright {
    display: block;
    border-top: none;
    width: 100%;
    border-top: 1px solid #000;
  }

 
  }


 

 
