
      .footer {
       
        padding-top: 100px;
        padding-bottom: 41px;

        display: flex;
        // flex-wrap: wrap;

        // <!-- LOGO -->
&__logo {
position: relative;
         margin: 0px auto 25px 0;
}






// <!-- AMEDA HILSON--> - display: none
     &__ameda {
      display: block;
      margin-right: 52px;

      &__title {
font-family: $baseFontFamilyOriginal;
        font-weight: 600;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.025em;
margin-bottom: 19px;
      }

      &__list {
        list-style: none;
        padding-inline-start: 0;

        font-weight: 400;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.025em;
      }

     } 



// <!-- OTHER LINKS -->


&__other {
  // display: block;
  margin-left: 0px;
  margin-right: 99px;


}



// <!-- JOIN OUR COMMUNITY -->

&__join {
  margin: 0 0 0 0;



&__text {

margin-bottom: 15px;

}

  
}


// <!-- APPS -->


&__apps {
  padding-bottom: 30px;
}


// <!-- CONNECT SOCIALLY -->

&__connect {
  margin: 0px auto 0px 0px;

  

  &__list {
    
    margin-bottom: 113px;

   

  }

}

//  <!-- COPYRIGHT -->

&__copyright {
width: 100%;
border-top: 1px solid $itemsStripe;

&__text {
  margin: 48px auto 0;
  

}
}

// FOR DISPLAY: FLEX

&__logo-main-text {
  display: flex;
  flex-direction: column;
  margin-right: 82px;
}

&__join-connect {
  display: flex;
  flex-direction: column;
}


}

.footer-in {
  min-width: 1131px;
  width: 1131px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

// .footer__logo-main-text-other-links {
//   display: inline-block;
// }

