.header {
  
  width: 86.4%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: $baseFontFamily;
  font-weight: 400;

  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;

  // // LOGO
  // &__logo {
  //   width: 187px;
  //   height: 60px;
    
  // }

  // DESKTOP
  &__desktop {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 15px;
    padding-top: 0;
    
  }

// NAV-LIST
  &__nav-list {
    display: flex;
    
    list-style: none;
    align-items: center;
    margin-block: 0;
    padding-inline-start: 0;
    

      &__sign-in {
        color: $black;
        display: flex;
        align-items: center;

        // SIGN-IN-ARROW

        &::before {
            content: "";
            background: url(../../../i/optim/sign-in.svg) no-repeat;
            width: 18px;
            height: 21px; 
            display: block;
            background-position-y: center;
           padding-right: 9px;
          }
    }

      &__item {
        display: flex;
        align-items: center;
        padding-top: 0;
        width: fit-content;

        &__link {
          text-decoration: none;
// BLACK-ARROW

          &::after {
            content: "";
            background: url(../../../i/optim/black-arrow-down.svg) no-repeat;
            width: 16px;
            height: 18px;
            background-position: 7px;
            padding-left: 24px;
            margin-right: 37px;
      }
        }
        
        


  }}

  // BUTTON
  &__button {
    background-color: $bottom;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: $white;
    display: flex;
    align-items: center;
    padding: 14px 32px;
    height: 50px;
    margin-left: 53px;
    cursor: pointer;
  
}
  


// MOBILE
  &__mobile {
    display: none;
  }

  // LANGUAGE
  &__lang {
    margin-left: 51px;
    font-size: 16px;
    line-height: 18px;
    appearance: none;
    cursor: pointer;
    width: 90px;
    background: url(../../../i/optim/flag.svg) 37px no-repeat, 
    url(../../../i/optim/black-arrow-down.svg) 74px no-repeat;

    &__eng {
      font-size: 16px;
        line-height: 18px;
        
        &::after {
          content: "";
          background: url(../../../i/optim/black-arrow-down.svg) no-repeat;
      width: 16px;
      height: 18px;
      display: block;
      padding-left: 24px;
      margin-left: 0;
      background-position-y: center;
        }
    }
  }
}





// PLUS
.plus::after {
  content: "";
  background: url(../../../i/optim/plus.svg) no-repeat;
  width: 14px;
  height: 14px;
  display: block;
  padding-right: 4px;
}